.out{
    display: flex;
    width: 1200px;
    align-content: center;
    justify-content: space-between;
}
.filedcenter{
    min-width:280px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.rangeoutline{
    display: flex;
    flex-direction: column;
    min-height: 60px;
    min-width: 22%;
    justify-content: space-around;
}
.rangehead{
    display: flex;
    justify-content: space-around;
}
.filedcenter input[type="text"]{
    outline: none;
    border: none;
    width: 210px;
    font-size: 16px;
    height:25px;
}
.filedcenter select{
    border: none;
    opacity: 0.6;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    outline: none;
}